{% load static %}
<!doctype html>
<html lang="ja">
<head>
	<meta charst="utf-8">
	<title>{{title20}}</title>
	<link rel="stylesheet" type="text/css"
		href="{% static 'hello/css/style.css' %}" />
</head>
<body>
	<h1>{{title20}}</h1>
	<p>{{message20|safe}}</p>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>playerID</th>
<!--
            <th>ID</th>
            <th>NAME</th>
            <th>GENDER</th>
            <th>MAIL</th>
            <th>AGE</th>
            <th>BIRTHDAY</th>
-->
        </tr>
    {% for item5 in data20 %}
        <tr>
            <td>{{item5.id}}</td>
            <td>{{item5.name}}</td>
            <td>{{item5.playerID}}</td>
<!--
            <td>{{item5.id}}</td>
            <td>{{item5.name}}</td>
            <td>{% if item5.gender == False %}male{% endif %}
                {% if item5.gender == True %}female{% endif %}</td>
            <td>{{item5.mail}}</td>
            <td>{{item5.age}}</td>
            <td>{{item5.birthday}}</td>
-->
        </tr>
    {% endfor %}
    </table>
</body>
</html>

